//
//    Anticverse Webraider
//
//    Maintainer: Ferit Yiğit BALABAN <balaban.ferityigit@anticverse.com> <fybalaban@fybx.dev>


// Source: https://webgradients.com/
$grad-premium-dark: linear-gradient(45deg, #434343 -25%, black 100%);
$grad-shy-rainbow: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
$grad-loom-crest: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
$grad-plum-plate: linear-gradient(135deg, #667eea 0%, #764ba2 100%);