//
//    Anticverse Webraider
//
//    Maintainer: Ferit Yiğit BALABAN <balaban.ferityigit@anticverse.com> <fybalaban@fybx.dev>

$header-upper-padding: 30px;

$site-lr-padding: 100px;
$site-lr-padding200: 50px;
$site-lr-padding300: 20px;

$site-generic-heading100: 80px;
$site-generic-heading200: 50px;
$site-generic-heading300: 40px;

$index-showcase-height: 600px;

$cl-senato: #EB00FF;
$cl-leader: #00FFE0;
$cl-legion: #F60000;

$cl-senate-shadow: rgba(244, 128, 255, 0.1);
$cl-leader-shadow: rgba(128, 255, 242, 0.1);
$cl-legion-shadow: rgba(255, 128, 128, 0.1);

$blur: 10px;
$spread: 10px;
$transition: 350ms;
$outer-shadow-dark: #090909;
$inner-shadow-dark: #090909;

$timing-showcase: 3000ms;
$timing-elements: 3000ms;