//
//    Anticverse Webraider
//
//    Maintainer: Ferit Yiğit BALABAN <balaban.ferityigit@anticverse.com> <fybalaban@fybx.dev>

@use "sass:math";
@use "../variables";
@use "../colors";
@use "../overflows";

#footer {
  background-color: #8855bd;
  color: colors.$cl-light100;

  .footer-row {
    display: flex;
    align-items: center;

    img[data-image-form="square"] {
      width: 60px;
      height: 60px;

      @include overflows.mx_width500 {
        width: 80px;
        height: 80px;
      }
    }

    img[data-image-form="grow-width"] {
      height: 30px;

      @include overflows.mx_width500 {
        height: 50px;
      }
    }

    h1 {
      font-size: 24px;
      margin: 0 0 0 16px;

      @include overflows.mx_width500 {
        font-size: 32px;
      }
    }

    h2 {
      font-weight: normal;
      margin: 0 0 0 16px;
    }

    &:nth-of-type(2) {
      align-items: unset;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 5%;

       @include overflows.mx_width1000 {
         justify-content: space-between;
       }
    }

    &:last-of-type {
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .footer-col {
    display: flex;
    flex-direction: column;

    ul {
      margin: 0;

      li a {
        color: inherit;
        text-underline-offset: 2px;
        text-decoration-thickness: 1px;
        margin: 0 0 4px 0;

        &:hover {
          color: white;
          text-decoration: underline;
        }
      }
    }
  }

  hr {
    margin: clamp(16px, 1vh, 48px) 0;
    border: none;
    border-bottom: 1px solid #FFFFFF50;
  }
}