//
//    Anticverse Webraider
//
//    Maintainer: Ferit Yiğit BALABAN <balaban.ferityigit@anticverse.com>
//    partials/_header.scss

@use "sass:math";

@use "../fonts";
@use "../variables";
@use "../colors";
@use "../overflows";

#header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0);

  #header-upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: math.div(variables.$header-upper-padding, 2) variables.$header-upper-padding;

    font: 400 15px fonts.$font-stack;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);

    a {
      color: white;

      &:visited {
        color: white;
      }
    }
  }

  #header-lower {
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: variables.$site-lr-padding300 * 0.3 variables.$site-lr-padding300 !important;

    @include overflows.mx_width800 {
      padding: variables.$site-lr-padding200 * 0.3 variables.$site-lr-padding200 !important;
    }

    @include overflows.mx_width1200 {
      padding: variables.$site-lr-padding * 0.3 variables.$site-lr-padding !important;
    }

    #img-container {
      flex-basis: 0;
      flex-grow: 1;

      img {
        height: 50px;

        @include overflows.mx_width800 {
          height: 70px;
        }

        @include overflows.mx_width1200 {
          height: 80px;
        }
      }
    }

    h1 {
      align-self: center;
      color: white;
      letter-spacing: -1px;
      font: 600 20px fonts.$font-stack;

      @include overflows.mx_width800 {
        font: 600 30px fonts.$font-stack;
      }
    }

    #navbar  {
      display: none;
      flex-basis: 0;
      flex-grow: 1;
      justify-content: flex-end;

      .navitem {
        margin-right: 10px;
        font: 300 10px fonts.$font-stack;

        @include overflows.mx_width800 {
          font: 300 20px fonts.$font-stack;
        }
      }

      .navitem-select {
        a {
          cursor: default;
          color: colors.$cl-them100;
        }
      }

      @include overflows.mx_width1200 {
        display: flex;
      }
    }
  }
}