$logos: ("github-white": url("../../assets/logos/github_white.svg"),
        "instagram-white": url("../../assets/logos/instagram_white.svg"),
        "twitter-white": url("../../assets/logos/twitter_white.svg"),
);

@each $name, $url in $logos {
  a[data-logo=#{$name}] {
    display: block;
    background-image: $url;
    width: 20px;
    height: 20px;
    background-size: contain;
  }
}