//
//    Anticverse Webraider
//
//    Maintainer: Ferit Yiğit BALABAN <balaban.ferityigit@anticverse.com> <fybalaban@fybx.dev>

@use "../colors";
@use "../fonts";
@use "../variables";

@use "../button/button__transitions";

.button {
  font: 400 16px "Montserrat", sans-serif;
  color: #FFF;
  background-color: #FFFFFF08;
  padding: 7px 23px;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: background-color .1s, border-color .1s;
  line-height: 24px;

  &:hover {
    background-color: #FFFFFF4D;
  }

  &:active {
    padding: 6px 22px;
    border-width: 2px;
  }

  &.on {
    background-color: #8855BDAA;
    padding: 6px 22px;
    border-width: 2px;
  }
}

.button-soft-square {
  border: none;

  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 20px;
  border-radius: 20px;
}