@use "sass:math";
@use "../variables";
@use "../fonts";
@use "../colors";
@use "../keyframes";
@use "../overflows";

$px-heading: 50px;
$px-text: 18px;

#sec-cta {
  display: flex;
  flex-direction: column;
  background-color: #000000;

  article {
    h1 {
      margin: $px-heading 0 math.div($px-heading, 4) 0;
      display: inline-block;
      font: 400 $px-heading fonts.$font-stack;

      span {
        font-weight: 600;
        letter-spacing: -5px;
        animation: pulsate 250ms ease-in-out infinite alternate;
        text-shadow: 5px 5px 21px;

        a {
          color: inherit;
        }
      }

      &:hover {
        font-weight: 600;
        font-style: italic;

        span {
          font-weight: 400;
          font-style: normal;
        }
      }
    }

    p {
      margin: 0;
      font: 400 $px-text fonts.$font-stack;

      &:last-of-type {
        margin: math.div($px-text, 2) 0 0 0;
      }
    }

    &:nth-of-type(1) {
      h1 {
        margin-top: 0;
        color: #5CEDC4;
      }
    }

    &:nth-of-type(2) {
      text-align: center;

      h1 {
        color: #E06393;
      }
    }

    &:nth-of-type(3) {
      text-align: right;
      h1 {
        color: #F7BA60;
      }
    }
  }
}

#sec-addressbook {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #2a0845, #6441A5);
  background-size: 400% 400%;
  animation: rotate-gradient 8s ease-out infinite;

  h1 {
    margin: 0 0 math.div($px-heading, 4) 0;
    font-size: $px-heading;
    font-weight: 600;
  }

  h2 {
    margin: 0;
    font-size: math.div($px-heading, 2);
    font-weight: 400;
  }

  .tabs {
    margin: 50px 0 0 0;
    display: flex;
    flex-wrap: wrap;

    label {
      order: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: clamp(7px, 1vw, 16px) clamp(14px, 1vw, 32px);
      margin-right: 0.2rem;
      cursor: pointer;
      background-color: colors.$cl-dark400;
      font-weight: bold;
      transition: background ease 0.3s;
    }

    .tab {
      h1 {
        font-size: 25px;
      }

      a {
        font: 400 18px fonts.$font-stack;
        color: colors.$cl-dark500;

        &:after {
          content: "↗"
        }

        &:hover {
          text-decoration: underline;
        }

        &:active {
          font-style: italic;
        }
      }

      order: 9;
      flex-grow: 1;
      width: 100%;
      height: 100%;
      display: none;
      padding: 20px;
      color: colors.$cl-dark500;
      background: colors.$cl-light100;
      box-shadow: -10px 10px 0px 0px black;
    }

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked + label {
      color: colors.$cl-them500;
      background: colors.$cl-light100;
    }

    input[type="radio"]:checked + label + .tab {
      display: block;
    }
  }
}

.contact-divs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px; 
}

.contact {
  position: relative;
  display:flow-root;
  justify-content: center;
  background-color: #191919;
  width: 525px;
  height: 525px;
  border-radius: 30px;
  margin: 0 20px;
  padding: 50px;

  h1 {
    text-align: center;
    padding-top: 10px;
    font-size: 200%;
    margin-top: 80px;
  }

  p {
    text-align: justify;
    padding-top: 20px;
  }

  &:hover {
    box-shadow: 5px 5px 5px #2c2a2a;
  }
}

.send-mail {
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background: #282727;
  border-radius: 23px;
  color: #fff;
  padding: 25px 20px;
  border: none;
  font: 350 20px "Montserrat", sans-serif;
  display: block;
  width: fit-content;
}

.anticverse-offices {
  width: 100%;
  height: 500px;
}

#google-maps {
  background-color: #191919;
  padding:50px;
  padding-top: 30px;
  padding-bottom: 70px;

  h1 {
    margin-bottom: 50px;
    font-size: xx-large;
  }
}

.community-button{
  width: 75px; 
  height: 70px; 
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 50px 15px 15px 15px;
}

#dc {
  background-color: #244CB4;
}

#gf {
  background-color: #7248B9;
}

#dc-and-forms-buttons {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1200px) {
  .contact-divs {
    flex-direction: column;
  }

  .contact {
    width: 200px;
    margin-bottom: 50px;
    margin-top: 40px;
  }

  .community-button{
    width: 60px; 
    height: 60px; 
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }

}