.trait-gradient {
    background: linear-gradient(to right, #ffaeae, #8bffbf);
    -webkit-text-fill-color: transparent;
    color: transparent;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}